[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", extras = ["all"]}
uvicorn = "*"
sqlalchemy = "*"
pydantic-settings = "*"
asyncpg = "*"
psycopg2 = "*"
uuid = "*"
alembic = "*"
psycopg2-binary = "*"
pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.11"
